div {
    border: 2px solid white;
    text-align: center;
    line-height: 50px;
    border-radius: 15px;
}

.ej-4-header {
    /* xs */
    background-color: orange;

    /* sm */
    @media (width >= 576px) {
        background-color: cyan;
    }

    /* md */
    @media (width >= 768px) {
        background-color: green;
    }
}

.ej-4-col1 {
    background-color: red;
}

.ej-4-col2 {
    /* xs */
    background-color: cyan;

    /* sm */
    @media (width >= 576px) {
        background-color: red;
    }
}

.ej-4-col3 {
    /* xs */
    background-color: red;

    /* sm */
    @media (width >= 576px) and (width < 768px) {
        background-color: green;
    }
}

.ej-4-footer {
    background-color: yellow;
}